#titulo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  text-align: justify;
  font-size: 18px;
}

ol {
  font-weight: bold;
}

#fim {
  font-weight: bold;
  color: red;
}

